%section.team
  %h2 Meet the Beardeds
  %section.stats
    %ul
      %li
        %a{:href => "#"} 
          %img.icon{:src => "/wireframe/images/icon-bike.svg"}
      %li
        %a{:href => "#"} 
          %img.icon{:src => "/wireframe/images/icon-bake.svg"}
      %li
        %a{:href => "#"} 
          %img.icon{:src => "/wireframe/images/icon-run.svg"}
      %li
        %a{:href => "#"} 
          %img.icon{:src => "/wireframe/images/icon-matt.svg"}
      %li
        %a{:href => "#"} 
          %img.icon{:src => "/wireframe/images/icon-pittsburgh.svg"}
      %li
        %a{:href => "#"} 
          %img.icon.last{:src => "/wireframe/images/icon-nice.svg"}
    %p.hint-text Click on the icons to learn more about the Beardeds.

  %section.profiles
    %article.person
      %a{:href => "/wireframe/profile.html"}
        %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %h3.name 
        %a{:href => "/wireframe/profile.html"} Matt Griffin
      %span.title Founder
    %article.person
      %a{:href => "/wireframe/profile.html"}
        %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %h3.name  
        %a{:href => "/wireframe/profile.html"} Brett Bender
      %span.title Lead Developer
    %article.person
      %a{:href => "/wireframe/profile.html"}
        %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %h3.name  
        %a{:href => "/wireframe/profile.html"} Matt Braun
      %span.title Lead Designer
    %article.person
      %a{:href => "/wireframe/profile.html"}
        %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %h3.name  
        %a{:href => "/wireframe/profile.html"} Caralyn Green
      %span.title Content Strategist
    %article.person
      %a{:href => "/wireframe/profile.html"}
        %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %h3.name  
        %a{:href => "/wireframe/profile.html"} Patrick Fulton
      %span.title Developer
    %article.person.last
      %a{:href => "/wireframe/profile.html"}
        %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %h3.name  
        %a{:href => "/wireframe/profile.html"} Mark Frey
      %span.title Developer