%section.main-content{:role => "main"}
  -# If appropriate, you could use an h1 here and provide more meaning in the document outline.
  .container
    = haml :'wireframe/partials/_breadcrumbs.html'
    %section.primary.about-detail      
      %h1.page-title About Us

      -# EXAMPLE MARKUP FOR A LEAD IMAGE
      %figure.lead-image
        %img{:src => "/wireframe/images/image-lg.jpg", :alt => "A Lead Image"}

      %p.intro Bearded is a web design and development agency located in Pittsburgh, Pennsylvania. We create sites and applications that do more than incorporate future-friendly technologies – they help move the web forward.

      %p Our clients are true partners in the design process. Whatever your organization does, we can help you do more of it.

      %p Bearded&rsquo;s work has won many awards, including two HOW Interactive Design Awards. Committed to collaboration, the Bearded team speaks at national conferences and writes for leading publications like A List Apart and .net magazine, as well as our own Bearded blog.

      = haml :'wireframe/partials/_team.html'

      %section.testimonial-group
        %blockquote.testimonial
          %p &ldquo;I would like Bearded to stop making the rest of us look so bad.&rdquo;
          %footer 
            %ul
              %li.name &ndash; Ethan Marcotte
              %li.position Author, Responsive Web Design
        %blockquote.testimonial
          %p &ldquo;Bearded represents beautiful design from genuinely good people.&rdquo;
          %footer 
            %ul
              %li.name &ndash; Chris Benton
              %li.position Communications Director, Rodef Shalom Congregation
        %blockquote.testimonial
          %p &ldquo;Web design is evolving so fast. At Bearded, they’re learning new things and trying new things and bringing that back to their clients. We all benefit.&rdquo;
          %footer 
            %ul
              %li.name &ndash; Corinne White
              %li.position Director of Marketing, Carnegie Learning
        %blockquote.testimonial
          %p &ldquo;With their expertise, Bearded flattened the learning curve, provided great solutions and invaluable ongoing support.&rdquo;
          %footer 
            %ul
              %li.name &ndash; Jeremy Slowe
              %li.position Web Site Co-ordinator, Yakima Valley Memorial Hospital

        %blockquote.testimonial
          %p &ldquo;They’re experts in their field and they know what they’re doing. They know how to talk to clients and translate crazy weird internet things into English.&rdquo;
          %footer 
            %ul
              %li.name &ndash; Sam Laffey
              %li.position Marketing Associate, Pittsburgh Glass Center

        %blockquote.testimonial
          %p &ldquo;Bearded created a beautifully-designed iPad app that created quite the buzz. It told our story in a wonderfully engaging, interactive, and fun way.&rdquo;
          %footer 
            %ul
              %li.name &ndash; Michael Tang
              %li.position Vice President, Communications, Local Initiatives Support Corporation
      %section.client-list
        %h2 Client List
        %p We work with awesome people. Here are some of them.
        %ul
          %li 9/11 Tribute Center
          %li AIGA Pittsburgh
          %li American Association for Homecare
          %li American Institute of Chemical Engineers
          %li Andy Warhol Museum
          %li Astorino Architects
          %li Bike Pittsburgh
          %li Carnegie Museum of Art
          %li Chatham Baroque
          %li Children's Museum of Pittsburgh
          %li East Liberty Development
          %li Local Initiatives Support Corporation
          %li Mario Lemieux Foundation
          %li Penn's Corner Farm Alliance
          %li Pittsburgh Glass Center
          %li RIDC
          %li Rodef Shalom Congregation
          %li ScareHouseSprout Fund
          %li Yakima Valley Memorial Hospital
      %a{:href => "#", :class => "read-more"} Want to work together? Learn more about how we collaborate with clients. &raquo;
      %section.activity-group
        %h2 Writing &amp; Speaking
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Let&rsquo;s Do It! What Are We Doing?
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.event
          %h3.title
            %a{:href => "#"}Giant Conference
          %ul
            %li.attribution Matt Griffin, speaking
            %li.location United States, Charleston
            %li.date 11th&ndash;14th June 2014
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Design for Extensibility
          %ul
            %li.attribution by Matt Griffin &amp; Patrick Fulton
            %li.publisher on .net Magazine
        %article.activity.event
          %h3.title
            %a{:href => "#"}Artifact Conf East
          %ul
            %li.attribution Matt Griffin, speaking
            %li.location United States, Providence
            %li.date 4th&ndash;5th December 2013
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Client Relationships and the Multi-Device Web
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.event
          %h3.title
            %a{:href => "#"}Web Design Day 2013
          %ul
            %li.attribution Matt Griffin &amp; Patrick Fulton, speaking
            %li.location United States, Pittsburgh
            %li.date 25th&ndash;26th October 2013
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Responsive Comping: Obtaining Signoff without Mockups
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.writing
          %h3.title
            %a{:href => "#"}What's Your Vertical?
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on the Bearded Blog
        %article.activity.event
          %h3.title
            %a{:href => "#"}Breaking Development 2013: Nashville
          %ul
            %li.attribution Matt Griffin &amp; Patrick Fulton, speaking
            %li.location United States, Nashville
            %li.date 21st&ndash;23rd October 2013
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Improvising in the Boardroom
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.event
          %h3.title
            %a{:href => "#"}ConvergeRVA 2013
          %ul
            %li.attribution Patrick Fulton, speaking
            %li.location United States, Richmond
            %li.date 11th&ndash;12th October 2013
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Five Years, Bearded
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on the Bearded Blog