%section.main-content{:role => "main"}
  .container
    %section.branding
      %img.inserted-image{:src => "/wireframe/images/main-image.jpg"}
      .message
        %h2.tagline 
          We Make Useful, Beautiful Things
          %span.tagline-sub For the Multi-Device Web.  
        %a{:href => "#", :class => "read-more"} Let&rsquo;s talk about your project. &raquo;

    %section.project-group
      %article.project.first
        %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
        %h3.title
          %a{:href => "#"}The Children&rsquo;s Museum of Pittsburgh
      %article.project.last
        %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
        %h3.title
          %a{:href => "#"}ScareHouse
      %a{:href => "#", :class => "read-more"} Want to see more work? Check out our portfolio. &raquo;

    %section.testimonial-group
      %h2 What People Are Saying
      %blockquote.testimonial
        %p "We are thrilled that our new website makes it easy to find out about the Children's Museum and its many programs, while adapting to the various and evolving ways our audience acquires information."
        %footer 
          %ul
            %li.name &ndash; Jane Werner
            %li.position Executive Director, Children's Museum of Pittsburgh

    %section.activity
      %h2 Writing &amp; Speaking
      %article.activity-item.writing
        %h3.title
          %a{:href => "#"}Let&rsquo;s Do It! What Are We Doing?
        %ul
          %li.attribution by Matt Griffin
          %li.publisher on A List Apart
      %article.activity-item.event
        %h3.title
          %a{:href => "#"}Giant Conference
        %ul
          %li.attribution Matt Griffin, speaking
          %li.location United States, Charleston
          %li.date 11th&ndash;14th June 2014
      %a{:href => "#", :class => "read-more"} See more examples of how we&rsquo;re sharing our ideas with the world. &raquo;

    %section.services
      %h2 How We Work
      %img.step.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %img.step.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %img.step.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
      %img.step.inserted-image{:src => "/wireframe/images/image-sq.jpg"}

      %a{:href => "#", :class => "read-more"} Read more about how we collaborate with our clients. &raquo;


    %section.about
      %h2 Who We Are
      %section.intro
        %p Bearded creates useful, beautiful things for the multi-device web. Whether you’re selling products or services, telling stories, or saving the world, we can help you do more of it.
        %a{:href => "#", :class => "read-more"} Read more about the Bearded team. &raquo;
      %section.profiles
        %article.person
          %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
          %h3.name Matt Griffin
        %article.person
          %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
          %h3.name Brett Bender
        %article.person
          %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
          %h3.name Matt Braun
        %article.person
          %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
          %h3.name Caralyn Green
        %article.person
          %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
          %h3.name Patrick Fulton
        %article.person
          %img.inserted-image{:src => "/wireframe/images/image-sq.jpg"}
          %h3.name Mark Frey