%section.main-content{:role => "main"}
  -# If appropriate, you could use an h1 here and provide more meaning in the document outline.
  .container
    = haml :'wireframe/partials/_breadcrumbs.html'
    %section.primary.profile     
      %h1.page-title Matt Griffin
      %section.profile-content
        %figure.profile-image
          %img{:src => "/wireframe/images/image-sq.jpg"}
        %section.profile-copy
          %p.intro Matt Griffin is a designer and founder of Bearded. He's a speaker, writer, and an avid advocate for collaboration in design. His writing has been published by .net magazine and A List Apart, where he writes the regular column on How We Work. Matt has spoken at prominent industry conferences like Artifact Conf, Breaking Development, Responsive Web Design Summit, Web Design Day, and Converge.

          %p He has taught college students about the web at the School of Design at Carnegie Mellon University. He also has a great love for letterpress printing, which he acquired while attending Indiana University in Bloomington, Indiana, where he received a BFA in Graphic Design. Matt's interest in the world of letterpress lead him to become one of the creators of Wood Type Revival, a project which seeks out lost historic wood type and converts it into digital fonts for modern designers.

          %p Matt believes that bringing together the knowledge and expertise of designers, developers and their clients is of paramount importance for the creation of successful designs. His work is governed by the idea that design should be driven by a clear user-centric purpose, rather than by subjective aesthetic concerns.

          %p Matt lives in Pittsburgh, Pennsylvania with his wife Elizabeth and his son Argus. Previous to entering the world of design, Matt was an active musician in Bloomington, Indiana and Chicago, Illinois. He toured the US, Europe, and Asia with a couple of independent rock bands, and played on a fair number of internationally-distributed records. Somehow he got sort of famous in Japan, which is a long story.
        %aside.secondary
          %section.networks
            %h2 Networks
            %ul 
              %li 
                %a{:href => "#"}Twitter
              %li 
                %a{:href => "#"}Tumblr
              %li 
                %a{:href => "#"}Dribbble
              %li 
                %a{:href => "#"}Github
          %section.expertise
            %h2 Areas of Expertise
            %ul
              %li 
                %a{:href => "#"}Information Design
              %li 
                %a{:href => "#"}Web Design
              %li 
                %a{:href => "#"}Responsive Web Design
              %li 
                %a{:href => "#"}Typography
              %li 
                %a{:href => "#"}Letterpress
              %li 
                %a{:href => "#"}Speaking
              %li 
                %a{:href => "#"}Writing
              %li 
                %a{:href => "#"}Project Planning
      %section.activity-group
        %h2 Writing &amp; Speaking
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Let&rsquo;s Do It! What Are We Doing?
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.event
          %h3.title
            %a{:href => "#"}Giant Conference
          %ul
            %li.attribution Matt Griffin, speaking
            %li.location United States, Charleston
            %li.date 11th&ndash;14th June 2014
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Design for Extensibility
          %ul
            %li.attribution by Matt Griffin &amp; Patrick Fulton
            %li.publisher on .net Magazine
        %article.activity.event
          %h3.title
            %a{:href => "#"}Artifact Conf East
          %ul
            %li.attribution Matt Griffin, speaking
            %li.location United States, Providence
            %li.date 4th&ndash;5th December 2013
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Client Relationships and the Multi-Device Web
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.event
          %h3.title
            %a{:href => "#"}Web Design Day 2013
          %ul
            %li.attribution Matt Griffin &amp; Patrick Fulton, speaking
            %li.location United States, Pittsburgh
            %li.date 25th&ndash;26th October 2013
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Responsive Comping: Obtaining Signoff without Mockups
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.writing
          %h3.title
            %a{:href => "#"}What's Your Vertical?
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on the Bearded Blog
        %article.activity.event
          %h3.title
            %a{:href => "#"}Breaking Development 2013: Nashville
          %ul
            %li.attribution Matt Griffin &amp; Patrick Fulton, speaking
            %li.location United States, Nashville
            %li.date 21st&ndash;23rd October 2013
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Improvising in the Boardroom
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on A List Apart
        %article.activity.writing
          %h3.title
            %a{:href => "#"}Five Years, Bearded
          %ul
            %li.attribution by Matt Griffin
            %li.publisher on the Bearded Blog
      = haml :'wireframe/partials/_team.html'
