%section.main-content{:role => "main"}
  -# If appropriate, you could use an h1 here and provide more meaning in the document outline.
  .container
    = haml :'v1/partials/_breadcrumbs.html'
    %section.project-list   
      %section.project-group-clients
        %article.project.first
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}The Children&rsquo;s Museum of Pittsburgh
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}ScareHouse
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}ZooBean
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}Pittsburgh Art + Architecture
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}Pittsburgh Glass Center
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}Astorino Architects
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}Carnegie Learning
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}Hillman Photography Initiative
        %article.project
          %img.inserted-image{:src => "/wireframe/images/image-lg.jpg"}
          %h3.title
            %a{:href => "/wireframe/project.html"}Leukemia Lymphoma Society
      %section.project-group-internal
        %h2 Internal Projects
        %article.project
          %h3.title
            %a{:href => "#"}Trim
          %p.description The lightweight Ruby on Rails CMS from Bearded.
        %article.project
          %h3.title
            %a{:href => "#"}Stubble
          %p.description Bearded&rsquo;s front-end starter kit.
        %article.project
          %h3.title
            %a{:href => "#"}Wood Type Revival
          %p.description Our quest to turn lost old wood typefaces into digital fonts for modern designers.