%section.main-content{:role => "main"}
  -# If appropriate, you could use an h1 here and provide more meaning in the document outline.
  .container
    = haml :'wireframe/partials/_breadcrumbs.html'
    %section.primary.services-detail      
      %h1.page-title Services
      %p.intro At Bearded, we put mobile users front and center. All of our work incorporates the latest thinking in responsive web design, so your project looks and works flawlessly on a desktop, laptop, tablet, or smart phone.

      %h2 Collaboration
      %p Our clients are true partners in the design process from the very beginning. There is no “big reveal” when working with Bearded – just a natural evolution toward an effective, engaging design solution. We keep projects on track through timely, engaged communication and structured project management. Bearded will always be honest about scope, schedules, and budgets.

      %h2 Conversation
      %p We start with simple questions. Why do you need a website? What do you hope to accomplish? Who is your audience? Before we begin design, we work with clients to define and prioritize the site’s information and functionality, and understand your organization’s challenges, goals, and stories.

      %h2 Positioning & Planning
      %p Visual designs should never begin with visuals. Before establishing a look and feel for a project, we roll up our sleeves and make sure we’re focused on the right outcomes. We communicate this vision in a specification document, which serves as a roadmap to get you where you want to go, in the short- and long-term. It articulates your organizations brand and tone, provides guidelines for copywriting, social media, and SEO, and incorporates client feedback and best practices for user experience (UX) and information architecture (IA).

      %h2 Creation
      %p We invite clients to participate in the process from the beginning, and iterate designs early and often as they evolve toward their final state. To start with, our responsive wireframes are built using CSS, Javascript, and HTML. That means you never have to look at a picture of a website and try to imagine how it will work – you can view the designs in-browser just as you would a real site, and click and scroll and resize them from day one. Once you’re on-board with the project’s direction, our developers build your site’s unique functionality from scratch. Instead of using generic, out-of-the-box features, Bearded uses the Ruby on Rails framework with a lightweight, custom content management system (CMS). That way, your needs can define the website’s features, rather than the other way around. Our code is custom, our CMS is smart, and your life is easier. 

      %h2 Fit & Finish
      %p It’s the details that matter, so before a site goes live, Bearded’s quality assurance (QA) process tests the site across a full range of browsers and devices. Your site will be beautiful and functional however users access it – on a desktop, laptop, tablet, smart phone, or whatever comes next. Once we’re confident your site meets the highest standards, we deploy it to a temporary staging server so you can enter your text, images, and videos into the CMS.

      %h2 Support 
      %p You’re never on your own – Bearded provides training, including a custom video as a permanent reference for how to operate your new responsive website. Our post-launch strategy goes beyond tweaks and updates, and helps you plan for long-term growth with ongoing site enhancements and campaigns. 
