%section.main-content{:role => "main"}
  -# If appropriate, you could use an h1 here and provide more meaning in the document outline.
  .container
    = haml :'wireframe/partials/_breadcrumbs.html'
    %section.primary.services-detail      
      %h1.page-title Services
      %p.intro Bearded creates useful, beautiful things for the multi-device web. Whether you’re selling products or services, telling stories, or saving the world, we can help you do more of it.

      %p At Bearded, we put mobile users front and center. All of our work incorporates the latest thinking in responsive web design, so your project looks and works flawlessly on a desktop, laptop, tablet, or smart phone.

      %h2 Process

      %p Our clients are true partners in the design process from the very beginning. There is no &ldquo;big reveal&rdquo; when working with Bearded &ndash; just a natural evolution toward an effective, engaging design solution. 

      %h3 Conversation
      %p We start with simple questions. Why do you need a website? What do you hope to accomplish? Who is your audience? Before we begin design, we work with clients to define and prioritize the site&rsquo;s information and functionality. We ask about your organization&rsquo;s challenges and goals, and the stories you want to tell. After an initial kickoff meeting, we conduct in-depth interviews and evaluate your existing content and analytics.

      %h3 Positioning &amp; Planning
      %p Visual designs should never begin with visuals. Before establishing a look and feel for a project, we roll up our sleeves and make sure we’re focused on the right outcomes. Based on discovery findings, we develop a vision and roadmap to get you where you want to go, in the short- and long-term. We communicate all positions and future goals in a specification document that articulates your organization&rsquo;s authentic brand and tone. We provide guidelines for copywriting, editorial process, social media, and SEO, and incorporate client feedback and best practices for user experience (UX) and information architecture (IA), including the sitemap.

      %h3 Collaboration
      %p We keep projects on track through timely, engaged communication and structured project management. Bearded will always be honest about scope, schedules, and budgets. Education is an important part of what we do, so we’re always available to help you make informed decisions about the direction of a project.

      %h3 Creation
      %p We invite clients to participate in the process at the start, and iterate designs early and often as they evolve toward their final state. Bearded&rsquo;s wireframes and designs are built using CSS, Javascript, and HTML. That means you never have to look at a picture of a website and try to imagine how it will work &ndash; you can view the designs in a browser just as you would a real site, and click and scroll and resize them from day one. And from the beginning, our development team works in parallel to meticulously code the back end of the site. 

      %h3 Fit &amp; Finish
      %p It&rsquo;s the details that matter, so before a site goes live, Bearded&rsquo;s quality assurance (QA) process tests the site across a full range of browsers and devices. Once we&rsquo;re confident a site meets the highest standards, we deploy it to a temporary staging server so you can enter your text, images, and videos into the content management system (CMS).

      %h3 Support 
      %p You&rsquo;re never on your own &ndash; Bearded provides training, including a custom video as a permanent reference for how to operate your new website. Our post-launch strategy goes beyond tweaks and updates, and helps you plan for long-term growth with ongoing site enhancements and campaigns. 
