.lead-image {
  @include grid-breakout;
}

.team {
  .stats {
    @include pie-clearfix;
    margin-bottom: 1em;
    .hint-text {
      clear: both;
      margin: 0.5em 0 0 0;
    }
    ul {
      @include pie-clearfix;
    }
    .icon {
      @include column(2);
      max-width: 40px;
      &.last {
        @include last;
      }
    }
  }
  .profiles {
    clear: both;
    .person {
      @include column(4);
      @include last-col3;
      margin-bottom: 1em;
      @include breakpoint($breakpoint-s) {
        @include column(4);
        @include last-col3;
      }
      @include breakpoint($breakpoint-m) {
        @include column(2);
        @include last-col6;
      }
      .name {
        @include heading-4;
        margin-bottom: 0;
      }
    }
  }
}

.about-detail .team {
  @include grid-breakout;
  @include divider-bottom;
  @include divider-top;
  @include pie-clearfix;
}

.testimonial {
  footer {
    font-size: 0.875em;
    color: $text-color-subtle;
  }
}

.about-detail {
  .testimonial-group {
    @include pie-clearfix;
    .testimonial {
      @include breakpoint($breakpoint-m) {
        @include column(6);
        margin-bottom: 1em;
        @include last-col2;        
      }
    }
  }
}

.client-list {
  @include grid-breakout;
  @include divider-top;
  @include pie-clearfix;
  @include divider-bottom;
  li {
    @include breakpoint($breakpoint-s) {
      @include column(6);
      @include last-col2;
    }
    @include breakpoint($breakpoint-l) {
      @include column(4);
      @include last-col3;
    }
  }
}

.about-detail .read-more {
  clear: both;
  text-align: center;
  display: block;
}