.lead-image {
  @include grid-breakout;
}

.team {
  @include grid-breakout;
  @include divider-bottom;
  @include divider-top;
  @include pie-clearfix;
  .stats {
    @include pie-clearfix;
    margin-bottom: 1em;
    @include breakpoint($breakpoint-m) {
      @include column(6);
      @include last;
    }
    h3 {
      @include heading-5;
      margin-bottom: 1em;
    }
    .icon {
      @include column(2);
      max-width: 40px;
      &.last {
        @include last;
      }
    }
  }
  .profiles {
    clear: both;
    .person {
      @include column(4);
      @include last-col3;
      margin-bottom: 1em;
      @include breakpoint($breakpoint-s) {
        @include column(4);
        @include last-col3;
      }
      @include breakpoint($breakpoint-m) {
        @include column(2);
        @include last-col6;
      }
      .name {
        @include heading-4;
        margin-bottom: 0;
      }
    }
  }
}

.testimonial {
  footer {
    font-size: 0.875em;
    color: $text-color-subtle;
  }
}