// site-wide footer styles

.site-footer {
}

.contact {
  @include divider-bottom;
  border-color: $text-color-subtle;
}

.contact-information {
  margin-bottom: 1em;
  .org {
    @include heading-5;
    margin-bottom: 0;
    a {
      @include link-reverse;
    }
  }
}

.footer-nav {
  margin-bottom: 1em;
  border-color: $text-color-subtle;
  text-align: center;
  li {
    @include inline-block;
    @include divider-left;
    &:first-of-type {
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }
  }
}