// site-wide footer styles

.site-footer {
}

.contact {
  @include divider-bottom;
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;
  border-color: $text-color-subtle;
}

.contact-information {
  margin-bottom: 1em;
  .org {
    @include heading-5;
    margin-bottom: 0;
    a {
      @include link-reverse;
    }
  }
}

.footer-nav {
  margin-bottom: 1em;
  border-color: $text-color-subtle;
  text-align: center;
  @include breakpoint($breakpoint-m) {
    border-top: 0 none;
    text-align: left;
    @include column(7);
    @include last;
    float: right;
  }
  li {
    @include inline-block;
    @include divider-left;
    &:first-of-type {
      margin-left: 0;
      padding-left: 0;
      border-left: 0;
    }
  }
}

.legal {
  text-align: center;
  @include breakpoint($breakpoint-m) {
    text-align: left;
    @include column(5);
  }
}

.contact {
  @include pie-clearfix;
  .contact-information {
    @include breakpoint($breakpoint-m) {
      @include column(5);
    }
  }
  .contact-form {
    @include breakpoint($breakpoint-m) {
      @include column(7);
      @include last;
    }
  }
}