// site-wide form styles

// get rid of "default" iOS button styling for submit buttons
input[type=submit] {
  @include appearance(none);
}

input[type="submit"],
button[type="submit"] {
  @include button-form;
  @include box-sizing(border-box);
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="tel"],
input[type="number"],
input[type="url"],
textarea {
  padding: 0.5em 0.75em;
  font-size: 0.875em;  
  @include box-sizing(border-box);
  @include border-radius(2px);
  color: $text-color-subtle;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  // max-width: 600px;
  border: 1px $border-color solid;
}

form label {
  display: block;
}

select {
  border: 1px solid $border-color;
  height: 3em;
  line-height: 3em;
  width: 100%;
  // max-width: 600px;
}

.hint-text {
  color: $text-color-subtle;
  font-size: 0.875em;
  margin-top: 0.25em;
  margin-left: 0.5em;
}

///// Contact Form
.contact-form {
  .input {
    position: relative;
    label {
      position: absolute;
      top: 0.5em;
      left: 0.75em;
    }
    input {
      padding-left: 6em;
    }
    textarea {
      padding-top: 2em;
      padding-left: 0.75em;
    }
  }
}

///// Contact Detail View
.contact-detail {
  .secondary {
    margin-bottom: 1.5em;
    @include breakpoint($breakpoint-m) {
      @include column(5);
    }
  }
  .contact-form {
    @include breakpoint($breakpoint-m) {
      @include column(7);
      @include last;
    }    
  }
}