///// ADMIN BAR /////

///// END ADMIN BAR /////

// site-wide header styles
.site-header {
  padding-top: 1em;
  @include clearfix;
  padding-bottom: 1em;
}

.main-logo {
  float: left;
  max-width: 150px;
  @include breakpoint($breakpoint-s) {
    max-width: 200px;
  }
  @include breakpoint($breakpoint-m) {
    float: left;
    @include inline-block;
  }
}

.menu-trigger {
  @include inline-block;
  float: right;
  text-align: right;
  font-size: 1.3em;
  cursor: pointer;
  color: $link-color;

  .no-js & {
    display: none;
  }

  @include breakpoint($breakpoint-m) {
    display: none !important;
  }
}

.primary-navigation {
  display: none;
  clear: both;
  background-color: $background-color-subtle;
  padding: 1em 0;
  li {
    display: block;
    text-align: center;
    @include divider-top;
    &:first-of-type {
      border-top: 0 none;
      padding-top: 0;
      margin-top: 0;
    }
  }

  // show it if js is disabled
  .no-js & {
    display: block;
  }

  @include breakpoint($breakpoint-m) {
    // always show it on desktop, regardless of js state
    display: block !important;
    float: right;
    @include inline-block;
    padding-bottom: 1em;
    clear: inherit;
    background-color: inherit;

    li {
      @include inline-block;
      margin-left: 0.5em;
      margin-top: 0;
      padding-top: 0;
      border-top: 0 none;
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

// use for things like user login/logout, other top-level, but lesser important links in header.
.utility-navigation {
}

// usually, an h1 that you're visually hiding with css
.site-name {
  @include screenreader-text;
}

.main-logo {
}