///// ADMIN BAR /////

///// END ADMIN BAR /////

// site-wide header styles
.site-header {
}

.primary-navigation {
  padding-bottom: 1em;
  li {
    @include inline-block;
    margin-left: 0.5em;
    &:first-of-type {
      margin-left: 0;
    }
  }
}

// use for things like user login/logout, other top-level, but lesser important links in header.
.utility-navigation {
}

// usually, an h1 that you're visually hiding with css
.site-name {
  @include screenreader-text;
}

.main-logo {
}