.project-detail {
  .lead-image {
    @include grid-breakout;
  }

  blockquote {
    @include heading-2;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .intro {
    font-size: 1.2em;
    line-height: 1.5;
  }

  .inline-image {
    @include grid-breakout;
  }

  .content-wrap {
    position: relative;
    p {
      @include breakpoint(50em) {
        @include box-sizing(border-box);
        padding-right: 10em;
      }
    }
    .button {
      @include button;
      display: block;  
      text-align: center;
      margin-bottom: 1em;
      @include breakpoint(50em) {
        position: absolute;
        top: 2em;
        right: -2em;
        padding-left: 3em;
        padding-right: 3em;
      }
    }
  }
  .stats {
    @include divider-top;
    @include divider-bottom;
    @include pie-clearfix;
    border-style: double;
    border-width: 5px;
    border-right: 0 none;
    border-left: 0 none;
    @include grid-breakout;
    @include breakpoint(33em) {
      padding: 0;
    }

    li {
      @include divider-bottom;
      &.last {
        border-bottom: 0 none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      @include breakpoint(33em) {
        @include column(4);
        @include last-col3;
        border-bottom: 0 none;
        margin-bottom: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        @include divider-right;
        &.last {
          border-right: 0 none;
          padding-right: 0;
          margin-right: 0;
        }
      }
      label {
        font-size: 0.875em;
        color: $text_color_subtle;
        display: block;
      }
      span {
        @include heading-3;
        display: block;
      }
    }
  }
}

///// Project List View

.project-list {
  .project-group-clients, .project-group-internal {
    .project {
      margin-bottom: 1em;
      @include breakpoint($breakpoint-l) {
        margin-bottom: 2em;
      }
    }
  }
}

.project-list .project-group-clients {
  @include pie-clearfix;
  @include divider-bottom;
  .project {
    @include breakpoint($breakpoint-s) {
      @include column(6);
      &:nth-of-type(n) {
        margin-right: $gutter-width;
        .lt-ie8 & {
          margin-right: $gutter_width - 0.25%;
        }
        float: left;
        clear: none;
      }
      &:nth-of-type(2n+3) {
        @include last;
        float: right;
      }
      &:nth-of-type(2n+4) {
        clear: both;
      }
      &:nth-of-type(1) {
        @include column(12);
        @include last;
      }
    }
    @include breakpoint($breakpoint-m) {
      @include column(4);
      @include last-col3;
      &:nth-of-type(1) {
        @include column(4);
      }
    }
    @include breakpoint($breakpoint-l) {
      @include column(3);
      @include last-col4;
      &:nth-of-type(n) {
        clear: none;
      }
      &:nth-of-type(4n+6) {
        clear: both;
      }
      &:nth-of-type(1), &:nth-of-type(2) {
        @include column(6);
        margin-right: $gutter_width;
      }
      &:nth-of-type(3), &:nth-of-type(4), &:nth-of-type(5) {
        @include column(4);
        margin-right: $gutter_width;
      }
      &:nth-of-type(2), &:nth-of-type(5) {
        @include last;
        clear: none;
      }
    }
  }
}
.project-list .project-group-internal {
  .project {
    @include breakpoint($breakpoint-s) {
      margin-bottom: 1.5em;
    }
    @include breakpoint($breakpoint-m) {
      @include column(4);
      @include last-col3;
    }
  }
}